

.simple-form {
    width: 750px;
    margin: 0 auto;
    &-header {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
        &__item {
            cursor: pointer;
            &:not(:last-child) {
                margin-right: 15px;
            }
        }
    }
}

.form-grp {
    margin-bottom: 20px;
    label {
        display: block;
        margin-bottom: 5px;
    }

    input {
        outline: none;
        border-radius: 3px;
        border: 1px solid #ccc;
        padding: 10px 15px;
        width: 100%
    }

}

.btn {
    padding: 10px 15px;
    background: rgba($color: #000, $alpha: .5);
    color: #fff;
    margin: 10px auto;
    display: inline-block;
    border-radius: 3px;
    cursor: pointer;
    &-back {
        margin-right: 15px;
        background: transparent;
        color: #000;
        &:hover {
            text-decoration: underline;
        }
    }
}

table tr {
    text-align: left
}

table tr td:first-child {
    width: 200px;
}

.disable {
    color: #ccc
}

.active {
    color: #10c18a;
    border-bottom: 1px solid;
}

.success {
    background: #10c18a;
    color: #fff;
    width: 50%;
    margin: 10px auto;
    padding: 5px;
}

.error-my {
    background: #EF0000;
    color: #fff;
    width: 50%;
    margin: 10px auto;
    padding: 5px;
}